.arriba {
    display: float;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 150px;
    height: 150px;
}

.body {
    background-image: url(/assets/opaca.png);
    width: 80%;
    height: 400px;
}