<ion-app>
    <ion-header>
        <ion-toolbar>
            <ion-title>
                RE-MO - Restaurante Movil
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-card class="fondo">
            <img src="/assets/cabeza.JPG" alt="" class="center" />

            <div class="body">
                <img src="/assets/opaca.png" alt="" />
            </div>
            <div id="cuadro_1">
                <img src="/assets/cupcake.svg" class="center" style="width:100px;height:100px;" />
            </div>
        </ion-card>
        <div>

        </div>
    </ion-content>
</ion-app>