<ion-header>
    <ion-toolbar>
        <ion-title>ModalPage</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-button (click)="dismiss()">Atrás</ion-button>
    <ion-card *ngFor='let sitio of sitios'>
        <span *ngIf="sitio.tipo===val">
            <img src="{{sitio.nameSite}}" />
            <ion-card-header>
                <ion-card-subtitle>{{val}}</ion-card-subtitle>
                <ion-card-title>{{sitio.lugar}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                {{sitio.description}}
            </ion-card-content>
        </span>
    </ion-card>
</ion-content>